# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = QbSpider.settings

[deploy:test]
url = http://localhost:10010/
project = QbSpider
